html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #09f;
  background-image: linear-gradient(bottom, #09f, #45d1ff);
}

.navbar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.scoreboard {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
  border-radius: 5px;
  z-index: 10; /* Ensure the scoreboard appears above the bubbles */
}



.navbar-option {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.5);
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.navbar-option:hover {
  background: rgba(255, 255, 255, 0.75);
}

.bubble-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  font-family: sans-serif;
  font-size: 13px;
  color: #333;
  text-decoration: none;
  z-index: 10;
}

.bubble-toggle:hover {
  background: rgba(255,255,255,0.75);
}

.bubbles {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.bubble-container {
  position: absolute;
  top: 0;
  will-change: transform;
  animation: bubblefall 5s linear infinite;
  opacity: 0;
}

.bubble {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@keyframes bubblefall {
  0% {
    top: 0;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

.circles {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  z-index: 20;
}

.circle1, .circle2, .circle3, .circle4, .circle5 {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border-radius: 50%;
  background: radial-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5));
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 5px solid rgba(255,255,255,0.7);
  cursor: pointer;
}

@keyframes circleDisappear {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
  }
}

.circle-disappear {
  animation: circleDisappear 0.5s ease-out forwards;
}
